@lost flexbox flex

html
	height 100%

body
	background-color $white
	height 100%

.page-wrapper
	display flex
	flex-direction column

.main-content
	height 100%
	padding 10px
	position relative
	margin-left 350px

.content-container
	position relative
	lost-center 1170px
	padding-top 80px
	height auto

.full-width
	padding-top 80px

.generic-image
	height 100%
	background-repeat no-repeat
	background-position center
	background-size cover