// Base colors
$white = #FFFFFF

// Colors
$charade = #282C37
$rock-blue = #9BAEC8
$mystic = #D9E1E8
$curious-blue = #2B90D9


// Windwrk are using http://type-scale.com/ method for scaling fonts.
// Fonts are scaled by 'Augmented Fourth'
$base_font_size = 14px
$font-size-1 = 3.998em
$font-size-2 = 2.827em
$font-size-3 = 1.999em
$font-size-4 = 1.414em
$font-size-5 = 1.314em
$font-size-6 = 0.707em
$font-size-7 = 0.5em